#mainmenu
{
width: 100%-10;
height: 19px;
padding: 5px;
background-color: rgba(200, 200, 200, 1);
}

#mainmenu div
{
float: left;
}

body 
{
background-image:url(wallpaper.jpg);
background-repeat:no-repeat;
background-size: cover;
margin: 0px;
padding: 0px;
}

#input1
{
margin-bottom: 5px; 
color:black;
}
tr
{
font-size: 24px;
text-align: center;
}
#kasten1
{

padding: 20px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 20px;
display: inline-block;
transition:500ms;
	
}

#kasten1:hover
{
background-color: rgba(255,255,255,0.7);
}
#kasten2
{
padding: 20px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 20px;
transition:500ms;
}	

#kasten2:hover
{background-color: rgba(255,255,255,0.7);}

#kastenkasten
{
	position:absolute;
	left:100px;
	bottom:100px;
}

.button
{
color: blue;
text-decoration: none;
}

.button:visited
{
color: blue;
}

.button:hover
{
text-decoration: underline;
}


#logoutbutton
{
margin: 47px 0;
width:130px;
float:right;
font-size: 25px;	
border-radius:5px;	
}

#editbutton
{
margin: 47px 0;
width:130px;
float:none;
font-size: 25px;	
border-radius:5px;	
}

h1
{
margin-left: 30%;
margin-right: 30%;
}

h2
{
margin: 35px 0;
font-size: 45px;
display: inline-block;	
}

td
{
 display: inline-block;
 text-align: center;
}
