body 
{
margin-left: 10%;
margin-right: 10%;
background-image:url(wallpaper.jpg);
background-repeat:no-repeat;
background-size: cover;
font-family: Calibri;
}

#kasten1
{
width: 284px;
text-align: left;
padding: 20px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 20px;
display: inline-block;	
}

#kastenkasten
{
	text-align: center;
	position: absolute;
	left: 100px;
	bottom: 100px;
}

td
{
text-align: right;
}

h1
{
font-family: Verdana;

}