body {
background-image:url(wallpaper.jpg);
background-repeat:no-repeat;
background-size: cover;
font-family: Calibri;
font-weight: normal;
padding: 0px;
margin: 0px;
}

table
{
border: 1px solid gray;
border-collapse: collapse;
font-size: 12pt;	
}

#kasten1
{
margin-left: 10%;
padding: 20px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 20px;
display: inline-block;
}

#kasten2
{
padding: 20px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 20px;
}	

h1
{
margin-left: 30%;
margin-right: 30%;	
}

h2
{
font-size: 20pt;	
}

.button
{
color: blue;
text-decoration: none;
}

.button:visited
{
color: blue;
}

.button:hover
{
text-decoration: underline;
}

#mainmenu
{
width: 100% - 10;
height: 19px;
padding: 5px;
background-color: rgba(200, 200, 200, 1);
}

#mainmenu div
{
float: left;
}

.period
{
border: 1px solid black;
font-weight: normal;
}

.header
{
border: 1px solid gray;
text-align: center;
}

.timeHeader
{
border: 1px solid gray;
text-align: center;
font-size: 10ptpx;
padding: 3px;
}

.topHeader .header
{
font-weight: bold;
width: 110px;
}